
@font-face {
    font-family: 'Cairo';
    src: url('../webfonts/Cairo/static/Cairo-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cairo';
    src: url('../webfonts/Cairo/static/Cairo-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cairo';
    src: url('../webfonts/Cairo/static/Cairo-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cairo';
    src: url('../webfonts/Cairo/static/Cairo-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cairo';
    src: url('../webfonts/Cairo/static/Cairo-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

html,
body {
    font-family: 'Cairo', sans-serif !important;
}



.mobile-nav{
   
    top: 0;
    right: 100%; /* Start off-screen to the left */
    transition: right 0.4s ease;
   
}

.mobile-nav.active {
    right: 0; /* Slide in from right */
}