



.hero-image img {
    width: 100%;
    
}




.hero {
    height: 100vh;

    
}

.hero-background-image {
    height: 99%;
    filter: blur(6px);
    background-image: url('../images/Riydah.jpg');
    background-size: cover;
    background-position: center;

}



.hero-body {
    height: 100%;
    position: relative;


}

.hero::after {

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 101%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 1) 100%);
    z-index: 1;
    pointer-events: none;
}

.hero-row{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-around;
    align-items: flex-end;
    text-align: center;
    overflow: hidden;
}


.hero-content {
    align-self: center;

}


.hero-title {
    font-size: 48px;
    font-weight: 700;
    margin-top: 10px;
    color: var(--white);
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7), 0 0 20px rgba(0, 0, 0, 0.5);

    letter-spacing: 2px;

}

.hero-title span {
    display: block;
    margin: 20px 0;

    

    
}

.hero-subtitle {
    font-size: 20px;
    color: var(--light-blue);
    margin-bottom: 30px;
    font-weight: 500;
}


.hero-btn {
    margin: 10px 15px;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    text-decoration: none;
    display: inline-block;
    font-weight: 700;
}

.learn-more-btn {
    color: var(--light-blue);
    border: solid 2px var(--primary-blue);
    transition: all 0.3s ease;
}

.download-btn {
    background-color: var(--primary-blue);
    color: var(--white);
    transition: all 0.3s ease;
}

.hero .hero-btn:hover {
    background-color: var(--white);
    border: solid 2px var(--primary-blue) ;
    transform: scale(1.05);
    color: var(--primary-blue) ;
}



/* About Section */


.about-section {
    position: relative;
}

.about-section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    pointer-events: none;
}


.about-dag{
    padding-top: 60px;
}



.about-dag h2{
    margin-top: 40px;
    text-align: center;
    color: var(--light-blue); 
    font-weight: 500;
    font-size: 38px;
    margin-bottom:  40px;
    
}

.about-dag>p{
    text-align: center;
    margin-bottom: 20px;
}


.about-dag .paragraph p{
    margin-bottom: 20px;
    color: var(--light-blue);
    font-size: 18px;
    
}




/* About Mr Dag Section */

.about-mr-dag-section {
    margin-top: 60px;
    padding: 40px 0;
    
}

.about-mr-dag-row{
    justify-content: center;
    align-items: center;
}


.about-mr-dag-section .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.about-mr-dag-section .content h2{
    color: var(--light-blue); 
    font-weight: 500;
    font-size: 32px;
    margin-bottom:  30px;
    
}

.about-mr-dag-section .content p{
    margin-bottom: 20px;
    color: var(--light-blue);
    font-size: 18px;
    line-height: 1.6;
}

.about-mrdag-image img {
    width: 100%;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.about-mr-dag-section .image-container {
    height: 100%;
}


.about-mr-dag-section .geometric-background-pattern {
    background-image: url('../images/geometricPattern.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.about-mr-dag-section .image-container img {
    width: 100%;
}





.highlight{
    font-weight: 600;
    color: var(--primary-blue);
}





@media (max-width: 820px) {
    .hero-image {
        display: none ;
    }

    .hero-content{
        flex: 1;
    }
    
}

@media (max-width: 600px) {
    .hero-image {
        display: block ;
    }
    .hero-body::after {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 1) 100%);
    }
    
    .hero-content{

        margin-top: 30px;

    }

    .hero-title {
        font-size: 32px;
    }

    .hero-subtitle {
        font-size: 18px;
    }

}


